<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtyNLL0uTN6KpuOg7ZJ9ye8iPa2YE2ioc</string>
	<key>GCM_SENDER_ID</key>
	<string>593815027346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callipateraai.cai</string>
	<key>PROJECT_ID</key>
	<string>appcai-5808d</string>
	<key>STORAGE_BUCKET</key>
	<string>appcai-5808d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593815027346:ios:9fb5df43d421f1eb89304b</string>
</dict>
</plist>